@import "./lib/styles";

@include styles();

body {
  background-color: #fafafa;
}

.demo-App {
  color: #000000de;

  .app-bar-title {
    margin-left: 8px;
    font-weight: 500;
  }

  .app-container {
    padding: 16px;
    overflow-x: auto;
  }

  pre {
    color: #757575;
    overflow-x: auto;
    margin-bottom: 5*8px;
  }

  .navigation-drawer .app-bar {
    background-color: #ffffff;
    color: #000000de;
    fill: #000000de;

    border-bottom: 1px solid rgba(#000000, 0.1);
    box-sizing: border-box;

    .menu-button:before {
      background-color: #000000de !important;
    }
  }
}
